@model Covid19.Entities.Hospital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 col-md-4">
            @Html.DisplayNameFor(model => model.hospitalName)
        </dt>
        <dd class = "col-sm-10 col-md-8">
            @Html.DisplayFor(model => model.hospitalName)
        </dd>
        <dt class = "col-sm-2 col-md-4">
            @Html.DisplayNameFor(model => model.maxCapacity)
        </dt>
        <dd class = "col-sm-10 col-md-8">
            @Html.DisplayFor(model => model.maxCapacity)
        </dd>
        <dt class = "col-sm-2 col-md-4">
            @Html.DisplayNameFor(model => model.currentCapacity)
        </dt>
        <dd class = "col-sm-10 col-md-8">
            @Html.DisplayFor(model => model.currentCapacity)
        </dd>
        <dt class = "col-sm-2 col-md-4">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10 col-md-8">
            @Html.DisplayFor(model => model.city.cityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.hospitalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
